<app-header></app-header>
<app-menu></app-menu>

<main class="container">
    <div class="corpo">


        <div class="tabela">
            <h1>Lista de Produto</h1>
            <table class="table">
                <thead class="cabhead">
                    <tr>

                        <th>Nome</th>

                        <th>Preço</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let produto of produtos">

                        <td>{{ produto.nomeProduto }}</td>

                        <td>{{ produto.preco | currency }}</td>

                    </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <!-- More buttons as needed -->
            </div>
        </div>
    </div>
</main>