<nav class="container-fluid">
    <section class="cabecalho">
        <h1><span>Sistema</span> de Faturação</h1>
    </section>
</nav>
<main class="container-fluid">
    <div class="container centro">
        <div class="caixa texto col-md-3 ">
            <h1>Seja Bem-vindo</h1>
            <p>
                Um sistema de faturação é uma aplicação essencial para empresas de todos os tamanhos, permitindo a emissão, controle e gerenciamento de faturas de maneira eficiente e organizada. Este sistema automatiza o processo de criação de faturas, cálculo de impostos
                e registro de pagamentos, facilitando a gestão financeira e garantindo a conformidade com as normas fiscais
            </p>
            <button class="collect-data-button" routerLink="">Inicio Programa</button>
        </div>
        <div class="caixa1 col-md-4 ">
            <img src="/assets/img/computador.png" alt="">
        </div>
    </div>
</main>