
  <nav class="container-fluid">
    <section class="cabecalho">
      <h1><span>Sistema</span> de Faturação</h1>
    </section>
  </nav>
  <main class="container-fluid">
        <div class="container centro">
        <div class="caixa texto col-md-3 ">
          <h1>Seja Bem-vindo</h1>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet esse autem perspiciatis aperiam eaque sint ullam
            magnam sapiente,
            iure mollitia facilis, harum sunt impedit, inventore necessitatibus ducimus expedita neque optio.
          </p>
          <button class="collect-data-button" routerLink="">Inicio Programa</button>
        </div>
        <div class="caixa1 col-md-4 ">
              <img src="/assets/img/computador.png" alt="">
        </div>
        </div>
  </main>



