<app-header></app-header>
<app-menu></app-menu>
<div class="container corfundo">
    <form [formGroup]="clienteForm" (ngSubmit)="onClienteSubmit()" [ngClass]="{'fade-out': clienteRegistrado}">
        <div class="row">
            <div class="col">
                <h3 class="title">Formulario Cliente</h3>
                <div class="mb-3">
                    <label class="form-label">Nome :</label>
                    <input type="text" formControlName="nomeCliente" class="form-control" placeholder="Nome do cliente" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Endereço :</label>
                    <input type="text" formControlName="enderecoCliente" class="form-control" placeholder="Endereço do cliente" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Telefone :</label>
                    <input type="text" formControlName="telefoneCliente" class="form-control" placeholder="Número do Telefone" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email :</label>
                    <input type="email" formControlName="emailCliente" class="form-control" placeholder="example@example.com" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrar Cliente</button>
                <button class="btn btn-secondary" routerLink="">Voltar</button>
            </div>
        </div>
    </form>
    <form *ngIf="clienteRegistrado" [formGroup]="produtoForm" (ngSubmit)="onProdutoSubmit()" class="fade-in">
        <div class="row mt-5">
            <div class="col">
                <h3 class="title">Produto</h3>
                <div class="mb-3">
                    <label class="form-label">Nome do Produto :</label>
                    <select formControlName="nomeProduto" class="form-select" (change)="onProdutoChange($event)">
          <option value="">Selecione um produto</option>
          <option *ngFor="let product of produtos" [value]="product.nomeProduto">{{ product.nomeProduto }}</option>
        </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Preço do Produto :</label>
                    <input type="number" formControlName="precoProduto" class="form-control" placeholder="Preço do Produto" [value]="selectedProduct?.preco" required readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Data de Emissão :</label>
                    <input type="date" formControlName="dataEmissao" class="form-control" required>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label">Quantidade :</label>
                        <input type="number" formControlName="quantidade" class="form-control" placeholder="Quantidade" (input)="calculateTotal()" required>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Valor a ser Pago :</label>
                        <input type="number" step="0.01" formControlName="valorTotal" class="form-control" placeholder="Valor a ser Pago" [value]="produtoForm.get('valorTotal')?.value" required readonly>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Registrar Fatura</button>
                <button class="btn btn-secondary" routerLink="">Voltar</button>
            </div>
        </div>
    </form>

</div>